<nav class="container w-100 d-flex justify-content-between p-1" style="margin-top: 40px;">
    <h1>Medical-management</h1>
    <ul class="list-unstyled d-flex gap-5">
        <li><a class="text-decoration-none" style="font-size: 25px; color: rgb(56, 150, 239);" href="/">Home</a></li>
        <li><a class="text-decoration-none" style="font-size: 25px; color: rgb(56, 150, 239);" href="/signup">Sign-Up</a></li>
        <li><a class="text-decoration-none" style="font-size: 25px; color: rgb(56, 150, 239);" href="/signin">Sign-In</a></li>
    </ul>
</nav>
