<%- include("partials/header") %>
<%- include("partials/nav") %>
<form class="w-25 mt-5 m-auto bg-light p-4" action="/changepassword/<%= id %>" method="post">
  <h1>Reset password </h1>
  <input class="form-control mb-3" type="password" name="password" placeholder="New password">
  <button class="btn btn-primary">Reset-password</button>
</form>
<%- include("partials/footer") %>